.about-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-list__link {
  font-size: 24px;
  line-height: 31px;
  color: $text-color;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: darken($accent-color, 20%);
  }
}

.about-list__link--active {
  color: $accent-color;
}

@media (max-width: 1499px) {
  .about-list__link {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 959px) {
  .about-list {
    width: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 549px) {
  .about-list__link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
  }
}
