.arrow {
  position: absolute;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: none;

  &--offer {
    top: 42%;
  }

  &--hits {
    top: 280px;
  }

  &--events {
    top: 70px;

    .arrow__icon {
      fill: #FFFFFF;
    }
  }

  &--news {
    top: 130px;
  }

  &--prev {
    &::after {
      content: '';
    }
  }

  &--next {
    &::after {
      content: '';
    }
  }

  &:hover {
    .arrow__icon {
      fill: #323232;
    }
  }
}

.arrow__icon {
  fill: $accent-color;
}

@media (max-width: 549px) {
  .arrow--offer {
    display: none;
  }

  .arrow--hits {
    display: none;
  }

  .arrow--events {
    display: none;
  }

  .arrow--news {
    display: none;
  }

}
