.card {
  display: flex;

  overflow: hidden;
  background-color: #FFFFFF;

  .card__image {
    vertical-align: middle;
  }

  &--big {
    width: 405px;
    height: 580px;

    .card__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 25px;
    }

    .card__text-wrapper {
      width: 186px;
      padding: 63px 25px 50px 25px;

      .card__button {
        &:hover {
          color: #ffffff;
          background-color: $accent-color;

          .hits__cart-icon {
            fill: #FFFFFF;
          }
        }

        &:active {
          color: darken(#ffffff, 20%);
          background-color: darken($accent-color, 20%);
          border-color: darken($accent-color, 20%);

          .hits__cart-icon {
            fill: darken(#FFFFFF, 20%);
          }
        }
      }
    }

    .card__title {
      margin: 0;
      margin-bottom: 40px;

      font-size: 38px;
      line-height: 53px;
    }
  }

  &--small {
    width: 405px;
    height: 280px;
    margin-bottom: 20px;

    .card__image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 189px;

      .card__image--full {
        height: 280px;
      }
    }

    .card__text-wrapper {
      display: flex;
      flex-direction: column;
      width: 216px;
      padding: 27px 25px 28px 27px;

      &:hover {
        color: #FFFFFF;
        background-color: $accent-color;

        a {
          color: inherit;
        }

        .card__button {
          border-color: #FFFFFF;
        }

        .hits__cart-icon {
          fill: #FFFFFF;
        }

        .card__title {
          &::before {
            background-color: #FFFFFF;
          }
        }
      }

      &:active {
        .card__button {
          color: $accent-color;
          background-color: #FFFFFF;
        }

        .hits__cart-icon {
          fill: $accent-color;
        }
      }
    }

    .card__title {
      margin: 0;
      margin-bottom: 30px;

      font-size: 22px;
      line-height: 31px;

      &::before {
        bottom: -15px;
      }
    }

    .card__description {
      margin-bottom: 15px;
    }

    .card__category {
      margin-bottom: 20px;
    }

    .card__button {
      order: 1;
    }
  }
}

.card__title {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    bottom: -20px;
    left: 0;

    width: 165px;
    height: 2px;

    background-color: #505276;
    opacity: 0.2;
  }
}

.card__description {
  width: 164px;
  margin: 0;
  margin-bottom: 20px;
}

.card__link {
  text-decoration: underline;
  color: $accent-color;
}

.card__category {
  margin: 0;
  margin-bottom: 40px;
}

.card__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  padding: 9px 25px 10px 17px;
  border: 3px solid $accent-color;

  font-size: 14px;
  line-height: 17px;
  color: inherit;

  span {
    padding-top: 3px;
    padding-left: 10px;
  }

  .hits__cart-icon {
    fill: $accent-color;
  }
}

@media (max-width: 1499px) {
  .card {
    width: 370px;
  }
}

@media (max-width: 549px) {
  .card {
    position: relative;

    &--bottom-line {
      &::before {
        content: '';

        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;

        width: 100%;
        height: 20px;

        background-color: #F0F0F0;
      }
    }
    &--big {
      flex-direction: column;

      .card__image-wrapper {
        padding: 0;
        padding-top: 20px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card__image {
        width: 80px;
      }

      .card__text-wrapper {
        padding: 35px 20px 20px;
      }
    }

    &--small {
      .card__image-wrapper {
        width: 120px;
        align-items: flex-start;

        .card__image--full {
          height: 180px;
          width: auto;
        }

        &--padding {
          padding-top: 30px;
        }
      }

      .card__text-wrapper {
        width: 130px;
        padding: 15px;
      }

      .card__button {
        width: 120px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .card__description {
        width: auto;
        margin-bottom: 10px;
        font-size: 12px;
      }

      .card__title {
        margin-bottom: 20px;

        &::before {
          bottom: -10px;
          width: 100px;
        }
      }

      .card__category {
        font-size: 12px;
        margin-bottom: 30px;

        a {
          display: block;
        }
      }
    }
  }
}
