.events {
  padding: 45px 0;

  background-color: #9293A6;
}

.events__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 38px;
  line-height: 46px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}
