.list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-menu__item {
  position: relative;

  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  cursor: pointer;

  a {
    color: inherit;

    &:hover {
      color: #FAACAE;
    }

    &:active {
      color: darken(#FAACAE, 10%);
    }
  }
}

.list-menu__item--open {
  padding: 27px 60px 26px 45px;

  &:before {
    content: '';

    position: absolute;
    top: 29px;
    right: 32px;

    width: 12px;
    height: 10px;

    background-image: url('../img/icon-row-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px auto;
  }

  &:hover {
    background-color: #C22A2E;
  }
}

.list-inner {
  position: absolute;
  top: 72px;
  left: 0;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #C22A2E;
  list-style: none;
}

.list-inner__item {
  padding: 5px 30px 5px 35px;

  font-weight: 400;
  line-height: 40px;
  text-transform: none;
}

.hidden {
  display: none;
}
