.list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  padding: 0;

  list-style: none;
}

.list-menu__item {
  position: relative;

  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  cursor: pointer;

  a {
    color: inherit;

    &:hover {
      color: #FAACAE;
    }

    &:active {
      color: darken(#FAACAE, 10%);
    }
  }
}

.list-menu__item--open {
  padding: 27px 35px 26px 40px;

  span {
    padding-right: 25px;

    background-image: url('../img/icon-row-menu.svg');
    background-repeat: no-repeat;
    background-position: right top 5px;
    background-size: 12px auto;
  }

  &:hover {
    background-color: #C22A2E;
  }
}

.list-inner {
  position: absolute;
  top: 72px;
  left: 0;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #C22A2E;
  list-style: none;

  z-index: 10;
}

.list-inner__item {
  padding: 5px 30px 5px 35px;

  font-weight: 400;
  line-height: 40px;
  text-transform: none;
}

.hidden {
  display: none;
}

@media (max-width: 1499px) {
  .list-menu {
    width: 820px;
  }

  .list-menu__item {
    font-size: 14px;
    line-height: 18px;
  }

  .list-menu__item--open {
    padding: 27px 15px 26px 20px;

    &::before {
      right: 10px;
    }
  }

  .list-inner {
    top: 70px;
  }

  .list-inner__item {
    padding: 5px 0 5px 15px;

    font-size: 12px;
  }
}

@media (max-width: 959px) {
  .list-menu {
    width: 470px;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .list-menu__item {
    &--specialist {
      order: 3;
    }
    &--patient {
      order: 2;
    }
  }
}

@media (max-width: 549px) {
  .list-menu {
    flex-direction: column;
    width: auto;
    padding: 0;
  }

  .list-menu__item {
    width: 100%;
    text-align: center;

    &--specialist {
      order: 0;
    }

    &--patient {
      order: 0;
    }
  }

  .list-menu__item--open {
    border-top: 1px solid darken($accent-color, 10%);
  }

  .list-menu__item--patient {
    border-bottom: 1px solid darken($accent-color, 10%);
  }

  .list-menu__link {
    display: block;
    padding-top: 27px;
    padding-bottom: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
