.news {
  padding-top: 60px;
  overflow: hidden;

  background-color: #DFE4EB;
}

.news__title {
  margin: 0;
  margin-bottom: 60px;

  font-size: 38px;
  line-height: 46px;
  font-weight: 400;
  text-align: center;
}
