.news-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news-list__item {
  display: flex;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .news-list__text {
      background-color: #EEF0F4;
    }

    .news-list__link {
      color: $accent-color;
    }
  }
}

.news__image {
  vertical-align: middle;
}

.news-list__wrapper {
  display: flex;
  flex-direction: column;
  width: 407px;
}

.news-list__text {
  min-height: 250px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.news-list__date {
  font-size: 12px;
  opacity: 0.4;
}

.news-list__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
}

.news-list__link {
  color: inherit;

  &:hover {
    box-shadow: inset 0 -2px $accent-color;
  }

  &:active {
    color: darken($accent-color, 20%);
    box-shadow: inset 0 -2px darken($accent-color, 20%);
  }
}

@media (max-width: 959px) {
  .news-list__item {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 549px) {
  .news-list__text {
    padding: 10px;
  }
}
