.socials-list {
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-list__item {
  a {
    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
