.user {
  padding: 20px 0;

  background-color: #ECECEC;
}

.user__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__list-links {
  display: flex;
  width: 155px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 17px;

  a {
    color: #A6A7B1;
  }
}
@media (max-width: 549px) {
  .user__wrapper {
    flex-direction: column;
  }

  .user__list-links {
    margin-bottom: 20px;
  }
}
