.user {
  padding: 20px 0;

  background-color: #ECECEC;
}

.user__wrapper {
  display: flex;
  align-items: center;
}

.user__list {
  margin-right: auto;
}

@media (max-width: 549px) {
  .user__wrapper {
    flex-direction: column;
  }
}
