.user-list {
  position:relative;

  display: flex;
  width: 155px;
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 17px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 54px;

    width: 1px;
    height: 16px;

    background-color: #A6A7B1;
  }
}

.user-list__item {
  &:first-child {
    margin-right: auto;
  }
}

.user-list__link {
  position: relative;

  color: #A6A7B1;

  &::before {
    content: '';

    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;

    width: 100%;
    height: 1px;

    background-color: #A6A7B1;
  }

  &:hover {
    color: lighten(#A6A7B1, 10%);

    &::before {
      background-color: lighten(#A6A7B1, 10%);
    }
  }

  &:active {
    color: darken(#A6A7B1, 20%);

    &::before {
      background-color: darken(#A6A7B1, 10%);
    }
  }
}

@media (max-width: 549px) {
  .user-list {
    margin-bottom: 20px;
  }
}
